.sc-connectAccounts {
	display: flex;
	overflow-x: auto;
	margin-bottom: 11px;
	margin-top: 30px;
}

.sc-connection {
	display: flex;
}

.sc-connection a {
	display: flex;
	height: 30px;
	width: 34px;
}

.sc-connection .connectedAccountNameInner-2q3MVf {
	margin-left: -18px;
	align-items: flex-end;
}
