.sc-connectAccounts {
	display: flex;
	overflow-x: auto;
	margin-bottom: 11px;
	padding-bottom: 8px;
}

.sc-connection {
	display: flex;
	position: relative;
}

.sc-connection a {
	display: flex;
	height: 30px;
	width: 34px;
}

.sc-connection .connectedAccountNameInner-2q3MVf {
	margin-left: -18px;
	align-items: flex-end;
}

.sc-verified {
	position: absolute;
	right: -4px;
	bottom: -4px;
}
